.contact{
  margin-top: 8rem;;
}
.contact .contact-footer{
  margin-bottom: 0;
  margin-top: 20px;
}
.contact .line{
  height: 5px;
  width: 130px;
  background-color: white;
}


.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
  padding: 20px 0;
}

.contact .form-control{
  border: none;
}

::placeholder{
  font-size: 25px;
}


label
{
  color: #1abc9c;
  text-align: left !important;
}


.btn
{
  background-color: #1abc9c;
  color: aliceblue;
  font-size: 20px;
}


.contact .contact-footer{
  background-color:  #2c3e50 !important;
}

.contact .contact-footer .icon{
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}

.contact .contact-footer .icon:hover{
  color: #2c3e50;
  background-color: white;
}

.contact .contact-footer .ic{
  width: 60%;
}

