<section class="portfolio text-center">
  <h1 class="text-uppercase" style="font-size: 3rem; font-weight: bold;">portfolio</h1>
  <div class="w-25 m-auto d-flex justify-content-between">
    <div class="line mt-4 bg-secondary"></div>
    <i class="fa-sharp fa-solid fa-star fa-3x"></i>
    <div class="line mt-4 bg-secondary"></div>
  </div>

  <div class="container my-5 px-5">
    <div class="row g-5">
      <div class="col-lg-4 position-relative">
        <img src="../../assets/cabin.png" class="img-fluid" alt="">
        <div class="overlay position-absolute">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="col-lg-4 position-relative">
        <img src="../../assets/cake.png" alt="" class="img-fluid">
        <div class="overlay position-absolute">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="col-lg-4 position-relative">
        <img src="../../assets/circus.png" alt=""class="img-fluid">
        <div class="overlay position-absolute">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="col-lg-4 position-relative">
        <img src="../../assets/game.png" alt=""class="img-fluid">
        <div class="overlay position-absolute">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="col-lg-4 position-relative">
        <img src="../../assets/safe.png" alt=""class="img-fluid">
        <div class="overlay position-absolute">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="col-lg-4 position-relative">
        <img src="../../assets/submarine.png" alt=""class="img-fluid">
        <div class="overlay position-absolute">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
</section>
