.portfolio{
  margin-top: 8rem;
}
.portfolio .line{
  height: 5px;
  width: 130px;
  background-color: white;
}

.portfolio .container .row .overlay{
  position: absolute;
  top: 0;
  left: 25px;
  right: 25px;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .container .row .overlay i{
  font-size: 5rem;
}

.portfolio .container .row .col-lg-4:hover .overlay{
  opacity: 1;
}
